<div
  [id]="'project-' + index"
  [class]="
    'flex ' +
    (reverse ? 'lg:flex-row-reverse' : 'lg:flex-row') +
    ' xs:mb-6 xs:flex-col xs:gap-2 xs:rounded-md xs:bg-custom-blueBg xs:px-4 xs:py-3 lg:mb-32 lg:gap-10 lg:bg-transparent lg:p-0'
  "
>
  <!-- carousel -->

  <app-carousel [Images]="project?.images"></app-carousel>

  <div class="flex flex-col">
    <h1
      class="mb-2 font-poppins font-bold uppercase leading-tight text-white xs:text-3xl lg:text-4xl fhd:text-5xl"
    >
      {{ project?.title }}
    </h1>
    <div class="mb-2 flex flex-row flex-wrap gap-2">
      @for (usedTech of project?.usedTechnology; track $index) {
        <span
          class="flex w-fit flex-row items-center rounded-full bg-custom-blueBg1 font-poppins text-xs text-slate-300 xs:gap-1 xs:px-3 xs:py-2 first-letter:uppercase lg:gap-2 lg:px-3 lg:py-2 fhd:gap-3 fhd:text-xl"
        >
          <img
            class="xs:h-4 xs:w-4 lg:h-5 lg:w-5 fhd:h-8 fhd:w-8"
            [src]="'../../../../assets/images/icons/' + usedTech.image"
            alt=""
            srcset=""
          />
          <p class="first-letter:uppercase">{{ usedTech.name }}</p>
        </span>
      }
    </div>
    <p
      class="font-poppins font-light leading-normal text-slate-300 xs:text-sm lg:text-base fhd:text-2xl"
    >
      {{ project?.description }}
    </p>
    <!-- GitHub links -->
    <div class="mt-4 flex flex-row xs:gap-2 lg:gap-3">
      @if (project?.fullGitHubLink) {
        <a
          class="flex w-fit items-center gap-2 rounded border px-4 py-2 font-poppins text-white duration-200 ease-in-out hover:bg-white/90 hover:text-custom-blueBg1 xs:text-xs lg:text-sm"
          href="{{ project?.fullGitHubLink }}"
          target="_blank"
        >
          View Full project
          <i class="fa-solid fa-arrow-up-right-from-square"></i>
        </a>
      }
      @if (project?.fontGitHubLink) {
        <a
          class="flex w-fit items-center gap-2 rounded border px-4 py-2 font-poppins text-sm text-white duration-200 ease-in-out hover:bg-white/90 hover:text-custom-blueBg1"
          href="{{ project?.fontGitHubLink }}"
          target="_blank"
        >
          View Front-end
          <i class="fa-solid fa-arrow-up-right-from-square"></i>
        </a>
      }
      @if (project?.backGitHubLink) {
        <a
          class="flex w-fit items-center gap-2 rounded border px-4 py-2 font-poppins text-sm text-white duration-200 ease-in-out hover:bg-white/90 hover:text-custom-blueBg1"
          href="{{ project?.backGitHubLink }}"
          target="_blank"
        >
          View Back-end
          <i class="fa-solid fa-arrow-up-right-from-square"></i>
        </a>
      }
    </div>
  </div>
</div>
