<div
  [id]="'project-'+index"
  [class]="
    'flex ' +
    (reverse ? 'flex-row-reverse' : 'flex-row') +
    ' mb-32 gap-10'
  "
>
  <img
    class="h-[230px] w-[450px] rounded-md fhd:w-[550px] fhd:h-[300px]"
    [src]="'../../../../assets/images/' + project?.image"
    alt=""
  />
  <div class="flex flex-col">
    <h1
      class="mb-2 font-poppins text-4xl font-bold uppercase leading-tight text-white fhd:text-5xl"
    >
      {{ project?.title }}
    </h1>
    <div class="mb-2 flex flex-row gap-2">
      @for (usedTech of project?.usedTechnology; track $index) {
        <span
          class="bg-custom-blueBg1 flex flex-row items-center gap-2 rounded-full px-3 py-2 font-poppins text-xs text-slate-300 fhd:text-xl fhd:gap-3"
        >
          <img
            class="h-5 w-5 fhd:w-8 fhd:h-8"
            [src]="'../../../../assets/images/icons/' + usedTech.image"
            alt=""
            srcset=""
          />
          {{ usedTech.name }}
        </span>
      }
    </div>
    <p class="font-poppins text-base font-light leading-normal text-slate-300 fhd:text-2xl">
      {{ project?.description }}
    </p>
  </div>
</div>
