<!--intro-->
<section class="relative flex h-svh bg-custom-bg items-center justify-center text-white">
  <!--blur circle-->
  <div
    class="absolute -left-40 -top-48 h-96 w-96 rounded-full bg-custom-primary opacity-40 blur-3xl"
  ></div>
  <!--container-->
  <div class="relative h-[550px] w-[1240px]">
    <h1
      id="heading1"
      class="absolute left-56 top-16 font-alien-ai text-7xl leading-tight text-transparent text-stroke-sm text-stroke-white"
    >
      I am
    </h1>
    <h1
      id="heading2"
      class="absolute left-56 top-40 font-alien-ai text-7xl leading-tight text-transparent text-stroke-sm text-stroke-white"
    >
      wassim
    </h1>
    <h1
      id="heading3"
      class="absolute right-40 top-44 font-alien-ai text-6xl leading-tight text-white"
    >
      full
    </h1>
    <h1
      id="heading4"
      class="absolute right-40 top-64 font-alien-ai text-6xl leading-tight text-white"
    >
      stack
    </h1>
    <h1
      id="heading5"
      class="absolute bottom-36 right-40 font-alien-ai text-6xl leading-tight text-custom-primary"
    >
      developer
    </h1>
    <!--character image-->
    <img
      id="character"
      class="absolute left-1/3 top-4 h-[500px] opacity-0 duration-150 ease-in-out"
      src="../assets/images/character-saying-hello3-b.gif"
      alt=""
      srcset=""
    />
    <!--description-->
    <p
      id="description"
      class="absolute left-56 top-72 w-64 font-poppins text-xl font-light opacity-0 ease-in-out"
    >
      I always work hard to provide creative and unique websites.
    </p>
    <!--coll to action button-->
    <a
      id="callToActionBtn"
      href="mailto:wassim28st@gmail.com?subject=Contact%20from%20Portfolio&body=Hi!"
      class="font-base absolute bottom-6 left-1/3 -skew-y-3 bg-custom-secondary px-32 py-2 text-xl uppercase text-custom-bg opacity-0 duration-150 ease-in-out hover:-skew-y-2 hover:bg-custom-primary"
    >
      Get in touch →
    </a>
  </div>
</section>
<!--projects-->
<section
  class="z-10 flex overflow-x-hidden bg-custom-blueBg px-20 py-6 text-white"
>
  <!--projects container-->
  <div class="relative flex h-full w-full flex-col">
    <h1
      class="ProjectTitle mb-20 w-full translate-x-[850px] text-center font-alien-ai text-7xl leading-tight text-transparent text-stroke-sm text-stroke-white"
    >
      Projects
    </h1>
    <!--project 1-->
    <div
      id="project-1"
      class="mb-32 flex translate-x-[-1400px] skew-y-6 flex-row gap-10"
    >
      <img
        class="h-[230px] w-[450px] rounded-md"
        [src]="'../../../../assets/images/' + projects[0].image"
        alt=""
      />
      <div class="flex flex-col">
        <h1
          class="mb-2 font-poppins text-4xl font-bold uppercase leading-tight text-white"
        >
          {{ projects[0].title }}
        </h1>
        <div class="mb-2 flex flex-row gap-2">
          @for (usedTech of projects[0].usedTechnology; track $index) {
            <span
              class="flex flex-row items-center gap-2 rounded-full bg-custom-blueBg1 px-3 py-2 font-poppins text-xs text-slate-300"
            >
              <img
                class="h-5 w-5"
                [src]="'../../../../assets/images/icons/' + usedTech.image"
                alt=""
                srcset=""
              />
              {{ usedTech.name }}
            </span>
          }
        </div>
        <p
          class="font-poppins text-base font-light leading-normal text-slate-300"
        >
          {{ projects[0].description }}
        </p>
      </div>
    </div>
    <!--project 2-->
    <div
      id="project-2"
      class="mb-32 flex translate-x-[1400px] -skew-y-6 flex-row-reverse gap-10"
    >
      <img
        class="h-[230px] w-[450px] rounded-md"
        [src]="'../../../../assets/images/' + projects[1].image"
        alt=""
      />
      <div class="flex flex-col">
        <h1
          class="mb-2 font-poppins text-4xl font-bold uppercase leading-tight text-white"
        >
          {{ projects[1].title }}
        </h1>
        <div class="mb-2 flex flex-row gap-2">
          @for (usedTech of projects[1].usedTechnology; track $index) {
            <span
              class="flex flex-row items-center gap-2 rounded-full bg-custom-blueBg1 px-3 py-2 font-poppins text-xs text-slate-300"
            >
              <img
                class="h-5 w-5"
                [src]="'../../../../assets/images/icons/' + usedTech.image"
                alt=""
                srcset=""
              />
              {{ usedTech.name }}
            </span>
          }
        </div>
        <p
          class="font-poppins text-base font-light leading-normal text-slate-300"
        >
          {{ projects[1].description }}
        </p>
      </div>
    </div>
    <!--project 3-->
    <div
      id="project-3"
      class="mb-32 flex translate-x-[-1400px] skew-y-6 flex-row gap-10"
    >
      <img
        class="h-[230px] w-[450px] rounded-md"
        [src]="'../../../../assets/images/' + projects[2].image"
        alt=""
      />
      <div class="flex flex-col">
        <h1
          class="mb-2 font-poppins text-4xl font-bold uppercase leading-tight text-white"
        >
          {{ projects[2].title }}
        </h1>
        <div class="mb-2 flex flex-row gap-2">
          @for (usedTech of projects[2].usedTechnology; track $index) {
            <span
              class="flex flex-row items-center gap-2 rounded-full bg-custom-blueBg1 px-3 py-2 font-poppins text-xs text-slate-300"
            >
              <img
                class="h-5 w-5"
                [src]="'../../../../assets/images/icons/' + usedTech.image"
                alt=""
                srcset=""
              />
              {{ usedTech.name }}
            </span>
          }
        </div>
        <p
          class="font-poppins text-base font-light leading-normal text-slate-300"
        >
          {{ projects[2].description }}
        </p>
      </div>
    </div>
  </div>
</section>
<section class="flex h-[calc(1000px*3.5)] bg-custom-bg text-white">
  <div class="WRAPPER relative flex h-full w-full overflow-hidden p-2">
    <h1
      class="skillsTitle mb-20 mt-10 h-fit w-full translate-x-[-300px] text-center font-alien-ai text-7xl text-transparent text-stroke-sm text-stroke-white"
    >
      skills
    </h1>
    <div class="CONTAINER ml-[600px] mt-[500px] flex flex-row gap-10">
      <h1
        id="skillsDesc"
        class="fixed -top-64 left-[-500px] text-center text-xl font-bold text-custom-secondary"
        #skillsDesc
      >
        These are skills I have studied and used since I started learning web
        development.
      </h1>
      @for (skill of skills; track $index) {
        <div class="SKILL relative flex w-64 flex-col gap-2" #skillContainer>
          <img
            class="h-10 w-10 rounded-lg"
            [src]="'../assets/images/icons/' + skill.image"
            [alt]="skill.image"
          />
          <h1 class="absolute left-12 top-1 text-xl first-letter:uppercase">
            {{ skill.name }}
          </h1>
          <hr />
          <p class="text-lg text-slate-300 first-letter:uppercase">
            {{ skill.description }}
          </p>
        </div>
      }
      <div class="w-64" #skillContainer></div>
      <div class="w-64" #skillContainer></div>
      <div class="w-64" #skillContainer></div>
    </div>
  </div>
</section>
<section class="relative flex h-svh bg-custom-bg items-center justify-center text-white">
  <!--blur circle-->
  <div
    class="absolute -left-40 -top-48 h-96 w-96 rounded-full bg-custom-primary opacity-40 blur-3xl"
  ></div>
  <!--container-->
  <div class="relative h-[550px] w-[1240px]">
    <!--dialog box desc-->
    <h1
      class="font-base absolute left-[210px] top-[140px] z-0 w-[520px] skew-x-6 bg-custom-blueBg1 px-10 py-6 font-poppins text-lg text-white first-letter:uppercase"
    >
      Feel free to reach out for collaborations, job opportunities, or just to
      say hi!
    </h1>
    <!--dialog box text-->
    <h1
      class="absolute left-[210px] top-16 z-10 skew-x-6 bg-custom-blueBg px-16 py-6 font-poppins text-4xl font-bold uppercase text-white"
    >
      let's work together !
    </h1>
    <!--dialog box tail image-->
    <img
      id="dialog"
      class="absolute right-[440px] top-32 w-[70px] duration-150 ease-in-out"
      src="../assets/images/dialog box tail.svg"
      alt=""
      srcset=""
    />
    <!--character image-->
    <img
      id=""
      class="absolute right-6 top-10 h-[480px] duration-150 ease-in-out"
      src="../assets/images/portfolio-character---call-me3.gif"
      alt=""
      srcset=""
    />
    <!--call to action button-->
    <a
      id=""
      href="mailto:wassim28st@gmail.com?subject=Contact%20from%20Portfolio&body=Hi!"
      class="font-base absolute bottom-6 right-32 flex -skew-y-3 flex-row items-center gap-4 bg-custom-secondary px-32 py-2 text-xl uppercase text-custom-bg duration-150 ease-in-out hover:-skew-y-2 hover:bg-custom-primary"
    >
      <i class="fa-solid fa-envelope text-2xl"></i>
      Contact me
    </a>
  </div>
</section>
