<!--projects-->
<section
  class="z-10 flex overflow-hidden bg-custom-bg lg:px-16 py-6 text-white xs:px-4"
>
  <!--projects container-->
  <div class="relative flex h-full w-full flex-col items-center justify-center">
    <!--projects title-->
    <h1
      class="ProjectTitle lg:mb-20 w-full text-center font-alien-ai lg:text-7xl leading-tight text-transparent text-stroke-sm text-stroke-white xs:text-5xl xs:mb-10"
    >
      Projects
    </h1>
    <!--project 1-->
    @for (project of projects; track $index) {
      <app-project [project]="project" [reverse]="$index%2==0" [index]="$index+1"></app-project>
    }
  </div>
</section>
