<!--projects-->
<section
  class="z-10 flex overflow-x-hidden bg-custom-blueBg px-16 py-6 text-white"
>
  <!--projects container-->
  <div class="relative flex h-full w-full flex-col items-center justify-center">
    <h1
      class="ProjectTitle mb-20 w-full text-center font-alien-ai text-7xl leading-tight text-transparent text-stroke-sm text-stroke-white"
    >
      Projects
    </h1>
    <!--project 1-->
    @for (project of projects; track $index) {
      <app-project [project]="project" [reverse]="$index%2==0" [index]="$index+1"></app-project>
    }
  </div>
</section>
