<section class="relative flex h-svh bg-custom-bg items-center justify-center text-white">
  <!--blur circle-->
  <div
    class="absolute -left-40 -top-48 h-96 w-96 rounded-full bg-custom-primary opacity-10 blur-3xl fhd:w-[500px] fhd:h-[500px] fhd:blur-[100px]"
  ></div>
  <!--container-->
  <div class="relative h-[550px] w-[1240px] fhd:scale-150">
    <!--dialog box desc-->
    <h1
      class="font-base absolute left-[210px] top-[140px] z-0 w-[520px] skew-x-6 bg-custom-blueBg1 px-10 py-6 font-poppins text-lg text-white first-letter:uppercase"
    >
      Feel free to reach out for collaborations, job opportunities, or just to
      say hi!
    </h1>
    <!--dialog box text-->
    <h1
      class="absolute left-[210px] top-16 z-10 skew-x-6 bg-custom-blueBg px-16 py-6 font-poppins text-4xl font-bold uppercase text-white"
    >
      let's work together !
    </h1>
    <!--dialog box tail image-->
    <img
      id="dialog"
      class="absolute right-[440px] top-32 w-[70px] duration-150 ease-in-out"
      src="../assets/images/dialog box tail.svg"
      alt=""
      srcset=""
    />
    <!--character image-->
    <img
      id=""
      class="absolute right-6 top-10 h-[480px] duration-150 ease-in-out"
      src="../assets/images/portfolio-character---call-me3.gif"
      alt=""
      srcset=""
    />
    <!--call to action button-->
    <a
      id=""
      href="mailto:wassim28saad@gmail.com?subject=Contact%20from%20Portfolio&body="
      class="font-base absolute bottom-6 right-32 flex -skew-y-3 flex-row items-center gap-4 bg-custom-secondary px-32 py-2 text-xl uppercase text-custom-bg duration-150 ease-in-out hover:-skew-y-2 hover:bg-custom-primary"
    >
      <i class="fa-solid fa-envelope text-2xl"></i>
      Contact me
    </a>
  </div>
</section>
