<!--intro-->
<section
  class="relative flex h-svh items-center justify-center bg-custom-bg text-white overflow-x-hidden"
>
  <!--blur circle-->
  <div
    class="absolute rounded-full bg-custom-primary opacity-40 xs:-right-40 xs:-top-48 xs:h-[500px] xs:w-[500px] xs:blur-[150px] lg:-left-40 lg:-top-48 lg:h-96 lg:w-96 lg:blur-3xl fhd:h-[600px] fhd:w-[600px] fhd:blur-[150px]"
  ></div>
  <!--container-->
  <div
    class="relative flex items-center justify-center xs:h-[600px] xs:w-[320px] lg:h-[600px] lg:w-[880px] lg:scale-90 fhd:scale-150"
  >
    <h1
      id="heading1"
      class="absolute font-alien-ai lg:text-7xl leading-tight text-transparent text-stroke-sm text-stroke-white xs:left-0 xs:top-0 xs:text-4xl lg:left-0 lg:top-[70px]"
    >
      I am
    </h1>
    <h1
      id="heading2"
      class="absolute font-alien-ai leading-tight text-transparent text-stroke-sm text-stroke-white xs:left-0 xs:top-11 xs:text-4xl lg:left-0 lg:top-44 lg:text-7xl"
    >
      wassim
    </h1>
    <h1
      id="heading3"
      class="absolute font-alien-ai lg:text-6xl leading-tight text-white xs:left-0 xs:top-[88px] xs:text-4xl lg:left-[750px] lg:top-[230px]"
    >
      full
    </h1>
    <h1
      id="heading4"
      class="absolute font-alien-ai lg:text-6xl leading-tight text-white xs:left-[84px] xs:top-[88px] xs:text-4xl lg:left-[685px] lg:top-[300px]"
    >
      stack
    </h1>
    <h1
      id="heading5"
      class="absolute font-alien-ai leading-tight text-custom-primary xs:left-[20px] xs:top-[130px] xs:text-5xl lg:left-[555px] lg:top-[380px] lg:text-6xl"
    >
      developer
    </h1>
    <!--character image-->
    <img
      id="character"
      class="absolute opacity-0 ease-in-out xs:bottom-2 xs:left-16 xs:hidden xs:h-[400px] xs:w-full xs:opacity-100 lg:bottom-10 lg:left-[160px] lg:h-[560px] lg:w-fit lg:translate-y-10 lg:block"
      src="../assets/images/character-saying-hello3-b.gif"
      alt=""
      srcset=""
    />
    <!--character image on mobile -->
    <img
      class="absolute ease-in-out xs:bottom-24 xs:left-5 xs:h-[350px] xs:w-full xs:opacity-100 sm:hidden"
      src="../../../../assets/images/portfolio-character.png"
      alt=""
      srcset=""
    />
    <!--description-->
    <p
      id="description"
      class="absolute font-poppins font-light ease-in-out xs:bottom-[10px] xs:w-[250px] xs:-skew-y-3 xs:bg-custom-blueBg xs:px-2 xs:py-3 xs:text-center xs:text-xs lg:left-4 lg:top-64 lg:w-64 lg:skew-y-0 lg:bg-transparent lg:text-left lg:text-xl"
    >
      I always work hard to provide creative and unique websites.
    </p>
    <!--coll to action button-->
    <a
      id="callToActionBtn"
      href="mailto:wassim28saad@gmail.com?subject=Contact%20from%20Portfolio&body="
      class="lg:font-base absolute -skew-y-3 bg-custom-secondary lg:px-32 uppercase text-custom-bg opacity-0 hover:bg-custom-primary xs:bottom-16 xs:py-2 xs:px-16 xs:text-xl xs:opacity-100 lg:-bottom-4 lg:right-[290px] lg:py-2 lg:text-xl lg:hover:-skew-y-2"
    >
      Get in touch →
    </a>
  </div>
</section>
